name: Build, test and deploy LedgerWallet

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_install_test:
    name: Build, install and test LedgerWallet
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ['3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
    - name: Clone
      uses: actions/checkout@v3

    - name: Setup Python version
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}

    - name: Update tools
      run: pip install -U pip setuptools

    - name: Install (with dependencies)
      run: pip install .

    - name: Install test dependencies
      run: pip install -r tests/unit/requirements.txt

    - name: Check that the executable runs correctly
      run: |
        ledgerctl --help

    - name: Run unit tests
      run: pytest --cov ledgerwallet --cov-report term --cov-report=xml tests/unit/

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        name: codecov-ledgerwallet

  deploy:
    name: Build and deploy ledgerwallet package
    runs-on: public-ledgerhq-shared-small
    needs: [build_install_test]
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_pypi_deployment.yml@v1
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    with:
      package_name: ledgerwallet
      jfrog_deployment: true
      release: true
      publish: true
    secrets:
      pypi_token: ${{ secrets.PYPI_PUBLIC_API_TOKEN }}
