name: Build and test LedgerWallet

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - develop
      - master

jobs:
  build_install_test:
    name: Build, install and test LedgerWallet
    runs-on: ubuntu-latest
    steps:
    - name: Clone
      uses: actions/checkout@v3

    - name: Install (with dependencies)
      run: pip install .

    - name: Install test dependencies
      run: pip install -r tests/unit/requirements.txt

    - name: Run unit tests
      run: pytest --cov ledgerwallet --cov-report term --cov-report=xml tests/unit/

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        name: codecov-ledgerwallet

  build_package:
    name: Build the Python package and deploy if needed
    runs-on: ubuntu-latest
    needs: build_install_test
    steps:
    - name: Clone
      uses: actions/checkout@v3

    - name: Install Flit
      run: pip install flit

    - name: Build the Python package
      run: flit build

    - name: ROLLING - Deploy on test.pypi.org
      if: success() && github.event_name == 'push' && github.ref == 'refs/heads/develop' && contains(github.event.head_commit.message, 'release')
      run: flit publish
      env:
        FLIT_INDEX_URL: https://test.pypi.org/legacy/
        FLIT_USERNAME: __token__
        FLIT_PASSWORD: ${{ secrets.TEST_PYPI_PUBLIC_API_TOKEN }}

    - name: STABLE - Deploy on pypi.org
      if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master' && contains(github.event.head_commit.message, 'release')
      run: flit publish
      env:
        FLIT_USERNAME: __token__
        FLIT_PASSWORD: ${{ secrets.PYPI_PUBLIC_API_TOKEN }}
